footer {
    position: fixed;
    left: 0;
    bottom: 8px;
    width: 100%;

}

.logo {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #7B68EE;
    text-decoration: none;
}

p.footer {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: #000;
    line-height: 1.5;
    margin-bottom: 10px;
}