@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

body {
    background-image: url(../images/topic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
}

.topic-link {
    font-family: 'Quicksand', sans-serif;
    color: #483D8B;
    text-decoration: none;
    padding: 4px 16px;
    border-radius: 4px;
    text-align: center;
}

.text-center {
    font-size: 44px;
    text-align: center;
}

.topic-link:hover {
    text-decoration: none;
}

.edit-delete-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}