<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer class="text-muted py-5">
        <div class="container text-center">
            <p class="mb-1"></p>
            <a class="logo" href="/">
                <span class="logo-item">Форум Всебічних Обговорень</span>
            </a>
            <p class="mb-1">Україна, місто Добропілля, вул. Банкова, 38</p>
            <p class="mb-1">@gmail.com</p>
            <p class="mb-1">+38 098 914 35 06</p>
        </div>
    </footer>
</div>