<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="header2 d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <ul class="contacts me-auto">
            <li class="nav-item">
                <a class="mail-link" href="mailto:info@sportstudio.com">@gmail.com</a>
            </li>
            <li class="nav-item">
                <a class="phone-link" href="tel:+380989143506">+38 098 914 35 06</a>
            </li>
        </ul>

        <a class="logo text-center mx-auto" href="/">
            <span class="logo-item">Форум Всебічних Обговорень</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="button me-3 py-2 text-decoration-none" href="/topic/add">Додати тему</a>
            <a class="button me-3 py-2 text-decoration-none" href="/">Головна</a>
            <a class="button me-3 py-2 text-decoration-none" href="/topic">Теми</a>
<!--            <a class="button me-3 py-2 text-decoration-none" href="/">Обговорення</a>-->
            <a class="button me-3 py-2 text-decoration-none" href="/about">Користування</a>
<!--            <a class="button me-3 py-2 text-decoration-none" href="/">Авторизація</a>-->
        </nav>
    </div>
</div>
